@model Book

<div class="text-center my-3">
    <div class="display-6">
        <i class="fa-solid fa-pencil"></i>
        Edit
    </div>
</div>

<div class="fw-bold text-danger" asp-validation-summary="ModelOnly"></div>

<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-floating mb-2 my-2">
        <input asp-for="Title" type="text" class="form-control" placeholder="@Model.Title"/>
        <label asp-for="Title">Title</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <label asp-for="AuthorId">Author</label>
        <select class="form-control" asp-for="AuthorId" asp-items="@ViewBag.Authors"></select>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="Genre" type="text" class="form-control" placeholder="@Model.Genre" />
        <label asp-for="Genre">Genre</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="PublishDate" type="date" class="form-control" placeholder="@Model.PublishDate"/>
        <label asp-for="PublishDate">Publish Date</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="ISBN" type="text" class="form-control" placeholder="@Model.ISBN" />
        <label asp-for="ISBN">ISBN</label>
    </div>

    <div class="form-floating mb-2 my-2">
        <input asp-for="CopiesAvailable" type="text" class="form-control" placeholder="@Model.CopiesAvailable" />
        <label asp-for="CopiesAvailable">Copies Available</label>
    </div>

    <div>
        <a class="btn btn-primary" asp-action="Index">
            <i class="fa-solid fa-arrow-left"></i>
            Back
        </a>

        <button class="btn btn-success" asp-action="Edit">
            <i class="fa-solid fa-floppy-disk"></i>
            Save
        </button>
    </div>
</form>